.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.card__image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  background: url("../images/delete-icon.svg");
  border-style: none;
  top: 10px;
  right: 10px;
}

.card__delete-button:hover {
  background: url("../images/delete-icon-hover.svg");
  cursor: pointer;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 12px 0 0;
}

.card__title {
  margin: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0;
  width: 90%;
  color: #212121;
}

.card__like-button {
  height: 20px;
  width: 23px;
  background: url("../images/like-icon.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  opacity: 100%;
  background: url("../images/liked-icon.svg") no-repeat center;
  background-size: contain;
}

.card__like-button_active:hover {
  opacity: 40%;
}

/* 630px and below — Mobile view */
@media screen and (max-width: 630px) {
  .card__title {
    font-size: 16px;
  }
}
