.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
  margin-bottom: 0;
  border-radius: 5%;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 6px 0 0;
}

.card__title {
  margin-top: 0;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  width: 90%;
}

.card__like-button {
  height: 20px;
  width: 23px;
  background: url("../../images/like-icon.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
}
