.main {
  padding: 34px 20px 0px;
  background-color: #fcf5e5;
  margin: 0 auto;
}

/* 630px and below — Mobile view */
@media screen and (max-width: 630px) {
  .main {
    max-width: 100%;
    padding: 24px 6px;
  }
}
