.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  column-gap: 20px;
  row-gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.3);
}

/* 768px and below — Mobile view */
@media screen and (max-width: 768px) {
  .cards__list {
    row-gap: 20px;
    padding-bottom: 20px;
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
