@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);
@import url(../blocks/media.css);

.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  color: #000;
  background-color: #fcf5e5;
}
